{% extends 'index.html' %}
{% block head %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма регистрации</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/regist.css' %}">
    <script defer src="js/regist.js"></script>
</head>
{% end block %}
{% block content %}
<body>
    <div class="container">
        <form name="register" method="POST" novalidate>
            <h1>Регистрация</h1>
            {% csrf_token %}
            {% for field in form %}
            <div class="field-wrapper">
                        {{ field.label_tag }} {{ field }}
                         {% if field.errors|length %}
                            <div class="text-danger">
                                {{ field.errors }}
                            </div>
                         {% endif %}
                    </div>
                {% end for %}
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
</body>
{% end block %}
</html>92